---
// with feature outstanding section
import Layout from '@/layouts/PageLayout.astro';
import BlogList from '@/components/blog/List.astro';
import Headline from '@/components/blog/Headline.astro';
import Pagination from '@/components/blog/Pagination.astro';
// import PostTags from "@/components/blog/Tags.astro";

import { getStaticPathsCourseList } from '@/utils/course';
import type { GetStaticPaths } from 'astro';

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  return await getStaticPathsCourseList(paginate);
};

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: `Course ${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle="A statically generated blog example with news, tutorials, resources and other interesting content related to AstroWind"
    >
      The Course
    </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
</Layout>
